#root {
  font-family: "Nanum Gothic", sans-serif;
}

#wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.header {
  display: contents;
  text-align: center;
  margin: 0 auto;
}

.header__logo {
  font-family: "Meddon", cursive;
  font-size: 3rem;
  color: #333;
}

.header__logo:hover {
  color: lightcoral;
}

.nav {
  z-index: 1;
  margin: 20px auto;
}

.nav__button {
  text-align: center;
  padding: 3px 5%;
  background: #333;
  color: white;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.nav__button:hover {
  background-color: rgba(240, 128, 128, 0.5);
}

.nav__button:active,
.nav__button--active {
  background-color: lightcoral;
}

.page {
  width: 85%;
  text-align: center;
  margin: 40px auto 100px auto;
  font-size: 0.9rem;
  max-width: 1200px;
}

.page--portfolio {
  margin: 40px auto 100px auto;
}

.subTitle {
  font-family: "Special Elite", cursive;
  font-size: 2rem;
}

/* slick slider CSS*/
.main__slider {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.main__slider .slick-slide img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  margin: 0 auto;
}

.main__slider .slick-prev,
.main__slider .slick-next {
  font-size: 2rem;
  z-index: 1;
}

.main__slider .slick-prev {
  left: 10px;
}

.main__slider .slick-next {
  right: 25px;
}

.main__slider .slick-next:before,
.main__slider .slick-prev:before {
  color: #fff;
  font-size: inherit;
}

/* Profile */

.profile__name {
  font-size: 3rem;
  text-align: center;
  vertical-align: middle;
  font-family: "Stylish", cursive;
}

.profile__name--eng {
  font-size: 1rem;
  font-family: "Cinzel", serif;
}

.profile h3 {
  font-size: 1.1rem;
  font-weight: 500;
  width: 50%;
  min-width: fit-content;
  border-radius: 5px;
  padding: 3px 0;
  background-color: lightcoral;
  color: white;
  margin: 50px auto 20px;
  font-family: "Mulish", sans-serif;
}

.profile__skills--content {
  display: inline-flex;
  width: 100%;
  max-width: 900px;
}
.profile__skills--content1,
.profile__skills--content2,
.profile__skills--content3,
.profile__skills--content4 {
  width: 100%;
}

.profile__skills--icon {
  vertical-align: middle;
  margin: 5px;
  padding: 10px 0;
}

.profile__skills--icon p {
  vertical-align: middle;
  margin: 5px 0;
  font-size: 0.9rem;
}
.profile__skills--icon img {
  width: 20px;
  height: 20px;
  margin: 0;
}

.profile__skills--icon:hover {
  background-color: rgba(240, 128, 128, 0.1);
}

.profile__educations table,
.profile__certifications table {
  margin: 0 auto;
  width: 100%;
  font-size: 0.9rem;
  word-break: keep-all;
}

.profile__educations tr td,
.profile__certifications tr td {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.profile__educations tr:hover,
.profile__certifications tr:hover {
  background-color: rgba(240, 128, 128, 0.1);
}

.profile__educations tr:first-child td,
.profile__certifications tr:first-child td {
  border-top: 1px solid #eee;
}

/* Portfolio*/

.portfolio__slider {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
  margin: 0;
}

.portfolio__slider .slick-slide img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  margin: 0 auto;
}

.portfolio__slider .slick-next:before,
.portfolio__slider .slick-prev:before {
  color: #777;
}

.portfolio__sectionList {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.portfolio__section {
  display: inline-block;
  width: 30%;
  min-width: 250px;
  height: fit-content;
  margin: 20px 1%;
  padding: 30px;
  border: 1px outset #eee;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.7);
  line-height: 2rem;
}

.portfolio__section:hover {
  background-color: #eee;
}

.portfolio__sectionSumbnail {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.portfolio__sectionTitle {
  margin: 10px 0;
}

.portfolio__sectionTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.portfolio__sectionDate,
.portfolio__sectionDesc {
  font-size: 0.95rem;
  line-height: 1.4rem;
}

.portfolio__sectionSet {
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 20px 0 20px;
}

.portfolio__sectionDesc {
  font-size: 0.9rem;
  margin: 30px 0 20px;
  text-align: justify;
}

.portfolio__sectionDesc > p {
  text-indent: 1rem;
}

.fa-2x {
  margin: 30px 20px;
  color: black;
}

.fa-2x:hover {
  color: lightcoral;
}

/* footer */
.footer {
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (max-width: 370px) {
  #root {
    width: 100%;
  }

  #wrap {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: khaki;
  }

  .page--portfolio {
    margin: 40px 0 100px 0;
  }

  .nav__button {
    padding: 3px 5px;
  }

  .portfolio__section {
    margin: 15px 1px;
    padding: 20px;
  }

  .profile__skills--content {
    display: contents;
  }
}
